.editor-hr {
    padding: 2px 2px;
    border: none;
    margin: 1em 0;
    cursor: pointer;
  }
  .editor-hr:after {
    content: '';
    display: block;
    height: 2px;
    background-color: #ccc;
    line-height: 2px;
  }
  .editor-hr.selected {
    outline: 2px solid rgb(60, 132, 244);
    user-select: none;
  }