@keyframes pulsingAnimation {
    0% {
    background-color: transparent;
      filter: brightness(100%);
    }
    50% {
        background-color: white;
      filter: brightness(50%);
    }
    100% {
        background-color: transparent;
      filter: brightness(100%);
    }
  }

.pulsing {
    animation: pulsingAnimation 2s infinite;
}