.login-button {
  cursor: pointer;
  border: 1px solid;
  padding: 6px;
  width: fit-content;
}

.login-button:hover {
  background-color: rgb(214, 214, 214);
}

.login-text {
  margin-left: 3px;
}

.login-container-disabled {
  opacity: 0.6;
  filter: grayscale(100%);
}
