.main-view {
  display: grid;
  grid-template-columns: 30% auto;
  width: 100%;
}

.toolbox-view {
  float: right;
}

.tree-view {
  height: 100%;
  overflow: hidden;
}

.editor-view {
  overflow: hidden;
}
