:root {
  --default-font-size: 10pt;
  --default-font-family: Arial, sans-serif;
  --default-box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.582);
}

.editor-container {
  width: 210mm;
  height: 100%;
}

.editor-inner {
  background-color: white;
  border: 1px solid rgb(173, 173, 173);
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  box-sizing: border-box;
  overflow: hidden;
}

.editor-input {
  min-height: 150px;
  resize: none;
  caret-color: rgb(5, 5, 5);
  position: relative;
  tab-size: 1;
  outline: 0;
  padding: 15px 10px;
  height: 100%;
  box-sizing: border-box;
  overflow: auto;
}

.editor-inner .disabled {
  opacity: 0.5;
}

.editor-see-through {
  z-index: 5;
  position: absolute;

  opacity: 0.2;
}

.editor-see-through:hover {
  opacity: 1;
}

.ltr {
  text-align: left;
}

.rtl {
  text-align: right;
}

.editor-paragraph {
  margin: 0;
  margin-bottom: 8px;
  position: relative;
}

.link {
  color: rgb(33, 111, 219);
  text-decoration: underline;
}

.link:visited {
  color: rgb(109, 53, 131);
}

.editor-text {
  font-size: var(--default-font-size);
  font-family: var(--default-font-family);
}

.editor-text-bold {
  font-weight: bold;
}

.editor-text-italic {
  font-style: italic;
}

.editor-text-underline {
  text-decoration: underline;
}

.editor-text-strikethrough {
  text-decoration: line-through;
}

.editor-text-underlineStrikethrough {
  text-decoration: underline line-through;
}

.editor-table {
  border-collapse: collapse;
  border-spacing: 0;
  table-layout: fixed;
  width: 100%;
}

.editor-table-row {
}

.editor-table-cell {
  border: 1px solid black;
  padding: 0;
}

.editor-layout {
  border-collapse: separate;
  table-layout: fixed;
  width: 100%;
  border: none;
}

.editor-layout > tbody > .editor-table-row > .editor-table-cell {
  vertical-align: top;
  border: 1px dotted black;
}

@media print {
  .editor-table-cell {
    background-image: none !important;
  }

  .editor-layout > tbody > .editor-table-row > .editor-table-cell {
    border: 1px dotted transparent;
  }

  @page {
    size: A4 portrait;
  }
  body * {
    visibility: hidden;
  }
  .section-to-print,
  .section-to-print * {
    visibility: visible;
  }
  .section-to-print {
    width: 210mm;
    position: absolute;
    left: 0;
    top: 0;
    overflow: visible;
  }

  body,
  html {
    -webkit-print-color-adjust: exact; /* Chrome, Safari */
    color-adjust: exact; /* Firefox */
    background: inherit; /* Ensure backgrounds are printed */
  }

  .print-disabled {
    display: none;
  }
}
