:root {
  --default-font-size: 13pt;
  --default-font-family: Arial, sans-serif;
  --default-box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.582);
  --default-input-padding-x: 10px;
  --default-input-padding-y: 15px;
}

.editor-container {
  width: fit-content;
  height: 100%;
}

.editor-inner {
  background-color: white;
  border: 1px solid rgb(173, 173, 173);
  box-sizing: border-box;
  overflow-x: auto;
  overflow-y: scroll;
  scrollbar-width: 10px;
  padding: var(--default-input-padding-y) var(--default-input-padding-x);
}

.editor-input {
  width: 210mm;
  max-width: 210mm;
  resize: none;
  caret-color: rgb(5, 5, 5);
  position: relative;
  tab-size: 1;
  outline: 0;
  padding: 0;
  height: calc(100% - 1px - var(--default-input-padding-y));
  box-sizing: border-box;
}

.editor-input .disabled {
  opacity: 0.5;
}

.editor-see-through {
  z-index: 5;
  position: absolute;

  opacity: 0.2;
}

.editor-see-through:hover {
  opacity: 1;
}

.ltr {
  text-align: left;
}

.rtl {
  text-align: right;
}

.editor-paragraph {
  margin: 0;
  position: relative;
}

.link {
  color: rgb(33, 111, 219);
  text-decoration: underline;
}

.link:visited {
  color: rgb(109, 53, 131);
}

.editor-text {
  font-size: var(--default-font-size);
  font-family: var(--default-font-family);
}

.editor-text-bold {
  font-weight: bold;
}

.editor-text-italic {
  font-style: italic;
}

.editor-text-underline {
  text-decoration: underline;
}

.editor-text-strikethrough {
  text-decoration: line-through;
}

.editor-text-underlineStrikethrough {
  text-decoration: underline line-through;
}

.editor-textCode {
  background-color: rgb(158, 158, 158);
  padding: 1px 0.25rem;
  font-family: Menlo, Consolas, Monaco, monospace;
  font-size: 94%;
}

.editor-table {
  border-collapse: collapse;
  border-spacing: 0;
  table-layout: fixed;
  width: 100%;
}

.editor-table-row {
}

.editor-table-cell {
  border: 1px solid black;
  padding: 1px;
}

.editor-layout {
  border-collapse: separate;
  table-layout: fixed;
  width: 100%;
  border: none;
}

.editor-layout > tbody > .editor-table-row > .editor-table-cell {
  vertical-align: top;
  border: 1px dotted black;
}

.editor-code {
  background-color: rgb(126, 126, 126);
  border: rgb(32, 32, 32) solid 1px;
  font-family: Menlo, Consolas, Monaco, monospace;
  display: block;
  padding: 8px 8px 8px 20px;
  line-height: 1.53;
  font-size: 13px;
  margin: 0;
  margin-top: 8px;
  margin-bottom: 8px;
  overflow-x: auto;
  position: relative;
  tab-size: 2;
}
.editor-code:before {
  content: attr(data-gutter);
  position: absolute;
  left: 0;
  top: 0;
  padding: 8px;
  color: #777;
  white-space: pre-wrap;
  text-align: right;
  min-width: 25px;
}

.editor-tokenComment {
  color: slategray;
}
.editor-tokenPunctuation {
  color: #999;
}
.editor-tokenProperty {
  color: #905;
}
.editor-tokenSelector {
  color: rgb(72, 100, 15);
}
.editor-tokenOperator {
  color: #9a6e3a;
}
.editor-tokenAttr {
  color: rgb(11, 84, 116);
}
.editor-tokenVariable {
  color: rgb(161, 105, 0);
}
.editor-tokenFunction {
  color: #971731;
}

@media print {
  .editor-table-cell {
    background-image: none !important;
  }

  .editor-layout > tbody > .editor-table-row > .editor-table-cell {
    border: 1px dotted transparent;
  }

  @page {
    size: A4 portrait;
  }
  body * {
    visibility: hidden;
  }
  .section-to-print,
  .section-to-print * {
    visibility: visible;
  }
  .section-to-print {
    width: 210mm;
    position: absolute;
    left: 0;
    top: 0;
    overflow: visible;
  }

  body,
  html {
    -webkit-print-color-adjust: exact; /* Chrome, Safari */
    color-adjust: exact; /* Firefox */
    background: inherit; /* Ensure backgrounds are printed */
  }

  .print-disabled {
    display: none;
  }
}
