:root {
    --default-image-control-border-size: 2px;
    --default-image-control-color: rgb(60, 132, 244);
    --default-image-control-border: var(--default-image-control-border-size) solid var(--default-image-control-color);
}

.image-element-default {
    width: 100%;
    height: 100%;
}
.image-selected-default {
    outline: 1px dotted var( --default-image-control-color);
}

.image-control-anchor-default {
    background-color: var(--default-image-control-color);
}

.image-control-marker-default {
    outline: var(--default-image-control-border);
}