:root {
  width: 100%;
  height: 99%;
}
#root {
  width: 100%;
  height: 99%;
}

body {
  overflow: hidden;
  height: 99%;
  background-color: rgb(243, 243, 243);
}

@media print {
  @page {
    size: A4 portrait;
  }
  body * {
    visibility: hidden;
  }
  .section-to-print, .section-to-print * {
    visibility: visible;
  }
  .section-to-print {
    position: absolute;
    left: 0;
    top: 0;
  }
}